WebServices/JavaApplication7/src/META-INF/wsdl/localhost_8080/ProvaWebServices/Maillist.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://web.pkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web.pkg/">

<xs:element name="getHobbies" type="tns:getHobbies"/>

<xs:element name="getHobbiesResponse" type="tns:getHobbiesResponse"/>

<xs:element name="getMailList" type="tns:getMailList"/>

<xs:element name="getMailListResponse" type="tns:getMailListResponse"/>

<xs:complexType name="getHobbies">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHobbiesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMailList">
<xs:sequence>
<xs:element name="hobby" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMailListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>